/*  SETTINGS  */

	*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*  GLOBAL  */

	html, body { margin: 0; padding: 0; color: #666; background: #fff; font-size: 1em; font-family: Arial, Helvetica, sans-serif; line-height: 1.3em; -webkit-text-size-adjust: none; }
	input, select, textarea { font-size: 95%; font-family: Arial, Helvetica, sans-serif; }
	a { color: #ef5500; text-decoration: none; }
	.clear { width: 100%; height: 0px; clear: both; display: block; }
	.align-right { float: right; }
	.text-center { text-align: center; }

/* LANG */

	.lang {
		padding: 10px;
		text-align: center;
		background-color: #f6f4e3;
		color: #ccb;
	}

	.lang a {
		color: #91a893;
	}

	.lang .active {
		color: #bcbcbc;
	}

	.lang-change {
        position: relative;
        top: -3px;
        font-weight: bold;
    }

/*  HEADER  */

	#logo-container { padding: 10px; background: #d15c4d; text-align: center; border-top: 6px solid #aac2ac; }
		#logo-container img { width: 220px; display: block; margin: 0 auto }


/*  NAV  */

	#nav { padding: 0 10px 10px 10px; background: #d15c4d; color: #fff; text-align: center; border-bottom: 6px solid #aac2ac; }
		#nav a { color: #f7f6e6; }


/*  BANNER  */

	#banner {}
		#banner img { width: 100%; display: block; }


/*  CONTENT  */

	#content {}
		#content .h1 { background: #f6f4e3; font-weight: bold; color: #91a893; vertical-align: middle; line-height: 44px; border-bottom: 1px solid #fff; }
		#content .h1 img { float: left; padding: 0 10px 0 0; }
		#content .h1 a { padding: 0 10px; display: block; color: #91a893; }
		#content .h2 { padding: 10px; background: #f6f4e3; font-weight: bold; color: #91a893; }
			#content .h2 a {color: #91a893;}
		#content .box { padding: 10px; }
			#content .box .item { padding: 0 0 10px 0; margin: 0 0 10px 0; }
			#content .box .item:last-child { padding: 0; margin: 0; border: 0; }
			#content .box .item a.pic { float: left; padding: 0 10px 0 0; }
			#content .box .item a.pic img { display: block; }
			#content .box .item .text { margin: 0 0 0 0; }
		#content .intro { padding: 10px; background: #d15c4d; color: #f8f7e7; }
		#content .detail { padding: 0 10px; }
		#content .pagination { padding: 10px 0; margin: 0 10px; }


/*  MENU  */

	#menu { background: #d15c4d; color: #f8f7e7; text-align: center; }
		#menu a { padding: 8px 10px; display: block; border-bottom: 1px solid #fff; text-align: center; color: #f8f7e7; }


/*  FOOTER  */

	#footer { padding: 10px; background: #f6f4e3; color: #666; }

/* Mobile "preview" for large screens */

	@media screen and (min-width: 1024px) { 
		html {
			background-color: #333;
		}
		body {
		    max-width: 320px;
		    margin: 0 auto;
		}
	}
